$primary-color : #741ce8;
$primary-hover : #452bc7;

$premium-color : #ffcd00;
$premium-hover : #deb000;

$btn-light-hover : #22252d;

$border-color : #d1d9d9;

$bg-color-light: rgb(121, 52, 204);
$bg-gradient-start : #7a19f1;
$bg-gradient-end : #332179; 

$white-color : #ffffff;
$black-color : #000000;
