@import "../../styles/index.scss";

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: $bg-color-light;
    width: 100%;
    height: 450px;
    color: $white-color;
}